/*
COLORS:

Light green: #7ed56f
Medium green: #55c57a
Dark green: #28b485

*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Lato', sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.7;
    color: #777;
    padding: 30px;
}

.header {
    height: 95vh;
    /* Linear-gradient should be on top of image, and image should be visible with opacity applied*/
    background-image: linear-gradient(to right, rgba(126, 213, 111, 0.8), rgba(40, 180, 133, 0.8)), url(../../img/hero.jpg);
    background-size: cover;
    background-position: top;
    
    /* THINK you are setting POINTS! (x, y coord) */
    clip-path: polygon(0 0, 100% 0, 100% 80vh, 0 100%);
    
    /* TO HAVE CHILDREN POSITION ABSOLUTE TO THEIR PARENT */
    position: relative;
}

.logo {
    /* STICK TO .header parent REGARDLESS OF SCREEN SIZE*/
    position: absolute;
    top: 50px;
    left: 50px;
    height: 35px;
    color: #fff;
}

.heading-box {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.heading-primary {
    color: #fff;
    text-transform: uppercase;

    /* to remove shaking effect, although subtle */
    backface-visibility: none;
    margin-bottom: 50px;
}

/* SPAN TAG ARE INLINE ELEMENT BY DEFAULT */
.heading-primary-main {
    display: block;
    font-size: 3.5rem;
    font-weight: 400;
    letter-spacing: 35px;

    /* APPLYING ANIMATIONS SET AT @KEYFRAMES */
    animation-name: moveInRight;
    animation-duration: 1s;
    animation-timing-function: ease-out;

    /* other effects
    animation-delay: 2s;
    animation-iteration-count: 3;
     */
}

.heading-primary-sub {
    display: block;
    font-size: 1rem;
    font-weight: 700;
    letter-spacing: 18.6px;

    animation: moveInLeft 1s ease-out;
}

/* BUTTON - INITIAL STATUS / AFTER CLICKED*/
.btn:link,
.btn:visited{
    text-transform: uppercase;
    text-decoration: none;
    padding: 15px 40px;
    /* <a>tag is inline element so need to give own space */
    display: inline-block;
    border-radius: 100px;

    /* FOR ::after */
    position: relative;
}   

/* WHEN HOVER ON BUTTON */

.btn:hover {
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgb(0,0,0,0.2);
}

/* WHEN CLICK ON BUTTON */
.btn:active {
    /* TO GIVE EFFECT OF BUTTON BEING CLICKED */
    /* LESS BOX SHADOW AND BLUR (SAME DIRECTION AS WHEN HOVERED */
    transform: translateY(-1px);
    box-shadow: 0 5x 10px rgb(0,0,0,0.2);
}

.btn-white{
    background-color: #fff;
    color: #777;
}

/* INITIAL SET UP FOR ::after */
.btn::after {
    content: "";
    width: 100%;
    height: 100%;
    border-radius: 100px;
    display: inline-block;
    /* HIDE BEHIND THE MAIN BUTTON */
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;

    /* FOR .btn:hover::after */
    transition: all 0.4s;
}

.btn-white::after {
    background-color: #fff;
}

/* TRANSFORM FROM THE INITIAL SET UP OF ::after */
.btn:hover::after {
    /* DON'T FORGET TO INCLUDE transition! */
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0;
}

.btn-animated {
    animation: moveInTop 0.7s ease-out;
    /* APPLY ANIMATION (moveInTop) at 0% WHEN START*/
    animation-fill-mode: backwards;
}



/* PUTTING ANIMATIONS WITH @KEYFRAMES FUNCTION + ANIMATION */
@keyframes moveInRight {
    0% {
        /* Start at 100px left from the origional position */
        transform: translateX(-100px);
        opacity: 0;
    }
    80% {
        /* Move a bit to the right*/
        transform: translateX(10px);
    }
    100% {
        /* Back to the current position at 100% */
        transform: translate(0);
        opacity: 1;
    }
}

@keyframes moveInLeft {
    0% {
        transform: translateX(100px);
        opacity: 0;
    }
    80% {
        transform: translateX(-10px);
    }
    100% {
        transform: translate(0);
        opacity: 1;
    }
}

@keyframes moveInTop {
    0% {
        transform: translateY(10px);
    }
    100% {
        transform: translate(0);
        opacity: 1;
    }
}