* {
    &::before,
    &::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
    }
}

html {
    // THIS DEFINES WHAT 1REM SET TO
    font-size: 62.5% 
}

// FONT STYLES ARE ALL UNDER `base._typography.scss
body {
    /* INHERIT THIS PROPERTY FOR ALL*/
    box-sizing: border-box;
}
