
.btn {

    &--white{
        background-color: $color-white;
        color: $color-grey-dark;

        &::after {
            background-color: $color-white;
        }
    }

    &--green {
        background-color: $color-primary;
        color: $color-white;

        &::after {
            background-color: $color-primary;
        }
    }

    &--animated {
    animation: moveInTop 0.7s ease-out;
    /* APPLY ANIMATION (moveInTop) at 0% WHEN START*/
    animation-fill-mode: backwards;
    }    

    &,
    &:link,
    &:visited{
    text-transform: uppercase;
    text-decoration: none;
    font-size: 1.5rem;
    padding: 1.5rem 4rem;
    display: inline-block;
    border-radius: 10rem;

    cursor: pointer;
    border: none;

    /* FOR ::after */
    position: relative;
    }
    
    &:hover {
    transform: translateY(-0.3rem);
    box-shadow: 0 1rem 2rem rgba($color-black,0.2);
        &::after {
            /* DON'T FORGET TO INCLUDE transition! */
            transform: scaleX(1.4) scaleY(1.6);
            opacity: 0;
        }
    }

    &:active {
    transform: translateY(-0.1rem);
    box-shadow: 0 0.5rem 1rem rgba($color-black,0.2);
    }

    &::after {
    content: "";
    width: 100%;
    height: 100%;
    border-radius: 10rem;
    display: inline-block;
    /* HIDE BEHIND THE MAIN BUTTON */
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;

    /* FOR BUTTON&:hover::after */
    transition: all 0.4s;
    }
}


.btn-text {
    &:link,
    &:visited {
        font-size: $default-font-size;
        color: $color-primary;
        padding: 0.5rem;
        text-decoration: none;
        letter-spacing: 0.2rem;
        border-bottom: 1px solid $color-primary;
        transition: all 0.2s;
    }

    &:hover {
        background-color: $color-primary;
        color: $color-white;
        box-shadow: 0 0.5rem 1rem rgba($color-black,0.2);
        transform: translateY(-0.3rem);
    }

    &:active {
        box-shadow: 0 0.5rem 1rem rgba($color-black,0.2);
        transform: translateY(-0.1rem);
    }

}