@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700;900&display=swap');

/*
#713E5A Old Mauve
#63A375 Forest Green
#EDC79B Gold Crayola
#D57A66 Terra Cotta
#CA6680 Cinnamon Satin
*/

* {
  margin: 0;
  box-sizing: border-box;
}

html {
  box-sizing: inherit;
}

body {
  background-color: #713E5A;
  color: #fff;
  font-family: 'Roboto', sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1 {
  margin-top: 45px;
}

p {
  margin-top: 25px;
}

.game-container {
  margin: 20px auto;
  position: relative;
  /* background-color: #fff; */
  width: 500px;
  height: 350px;
  
}

.figure-container {
  position: absolute;
  top: 25px;
  left: 55px;
  fill: transparent;
  stroke: #fff;
  stroke-width: 4px;
  stroke-linecap: round;
}

.figure-part {
  display: none;
}

.wrong-letter-container {
  position: absolute;
  font-size: 25px;
  top: 25px;
  right: 55px;
}

.wrong-letter-container p {
  margin: 10px auto;
  font-size: 20px;
}

.words-container {
  position: absolute;
  top: 350px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: center;
  align-items: center;
}

/* important to give width and height! */
.letter {
  border-bottom: 3px solid #CA6680;
  font-size: 30px;
  margin: 0 2px;
  padding: 5px 15px;
  height: 50px; 
  width: 50px;
}

.message-container {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0,0,0,0.3);
  /* display: flex; */
  align-items: center;
  justify-content: center;
  display: none;
}

.message-box {
  text-align: center;
  padding: 25px;
  width: 350px;
  height: 350px;
  border-radius: 10px;
  /* border */
  background-color: #CA6680;
}

.message-box h2 {
  margin: 75px auto;
  padding: 0 15px;
}

.message-box button {
  cursor: pointer;
  margin: 0px auto;
  border: none;
  border-radius: 5px;
  width: 70%;
  height: 50px;
  background-color: #fff;
  color: #CA6680;
  font-size: 20px;
  font-weight: 900;
  
}

.message-box button:focus {
  outline: none;
}

.message-box button:active {
  transform: scale(0.9);
}

.pop-up-container {
  position: fixed;
  bottom: 0;
  padding: 10px 25px;
  background-color: #CA6680;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  /* animation */
  transition: transform 0.3s ease-in-out;
  transform: translateY(100%);
}

.pop-up-container p {
  margin: 5px;
  text-align: center; 
}

.show {
  transform: translateY(0);
}



