@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');

:root {
    --color-primary : #2C2A4A;
    --color-seconary : #4F518C;
    --color-tertiary : #907AD6;
    --color-background: #f4f4f4;
    --color-modal: rgba(218, 191, 255, 0.9);
    --color-border: rgba(200, 200, 200, 0.2);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

html {
    font-size: 62.5%;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 1.5rem;

    /* TOGGLE NAV */
    transition: transform 0.3s ease-out;
}


/* MOVE BODY -> TOGGLE NAV*/
body.show-nav {
    transform: translateX(20rem);
}

/* NAVIGATION BAR */
.nav-container {
    background-color: var(--color-primary);
    color: var(--color-background);
    border-right: 0.1rem solid var(--color-seconary);
    position: fixed;
    width: 20rem;
    height: 200vh;
    z-index: 800;
    transform: translateX(-100%);
}

.nav-logo {
    padding: 3rem 0;
    text-align: center;
}

.nav-logo img {
    width: 10rem;
    height: 10rem;
    border-radius: 100%;
}

.nav-list {
    list-style-type: none;
}

.nav-list li {
    padding: 2rem 3rem;
    border-bottom: 0.1rem solid var(--color-border);
}

.nav-list li:first-of-type {
    border-top: 0.1rem solid var(--color-border);
}

.nav-list li a {
    text-decoration: none;
    font-size: 1.5rem;
    color: var(--color-background);
}

/* HEADER */
.header-container {
    background-color: var(--color-primary);
    color: var(--color-background);
    text-align: center;
    font-size: 1.5rem;
    padding: 4rem 1.5rem;
    position: relative; 
}
.header-container h1,
.header-container p {
    margin: 2.5rem auto;
    max-width: 85%;
    width: 100%;
}

.btn {
    background-color: var(--color-seconary);
    color: var(--color-background);
    cursor: pointer;
    border: 0;
    border-radius: 0.5rem;
    padding: 0.8rem 1.2rem;
}

.btn:focus {
    outline: none;
}

.btn-toggle {
    position: absolute;
    top: 2rem;
    left: 2rem;
    font-size: 1.5rem;
}

.btn-signup {
    margin: 1.5rem auto;
    padding: 1.5rem 3rem;
    font-size: 2rem;
}

/* SECTIONS */
.section-container {
    margin: 0 auto;
    padding: 2rem;
    position: relative; 
    max-width: 85%;
    width: 100%;
}

.section-container section,
.section-container section * {
    padding: 1rem;
}

.section-container .benefits ul  {
    margin-left: 3rem;
    
}

/* MODAL */

.modal-container {
    position: fixed;
    top: 0%;
    right: 0%;
    bottom: 0%;
    left: 0%;
    background-color: rgba(244, 244, 244, 0.6);
    display: none;
}

.modal-container.show-modal {
    display: block;
    animation: modalAnimation;
    animation-duration: 1s;

}

.modal-box {
    position: absolute;
    left: 50%;
    top: 45%;
    transform: translate(-50%, -50%);
    z-index: 1000;
    width: 40rem;
    background-color: var(--color-modal);
    border-radius: 10px;    
}

.modal-header {
    display: block;
    background-color: var(--color-seconary);
    width: 100%;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--color-background);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.modal-header .close-btn {
    padding: 3px;
    border-radius: 5px;
    border: 0;
    color: var(--color-background);
    background-color: transparent;
    font-size: 25px;
}

.modal-content {
    width: 100%;
    padding: 15px;
    font-size: 1.5rem;
}

.modal-content .modal-form {
    margin: 15px auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: space-around;
}

.modal-content .modal-form .input-item {
    display: block;
    margin: 10px 0;
    padding: 7px;
    border-radius: 5px;
    border: 2px solid var(--color-border);
    width: 100%;
}

.modal-content .btn-submit {
    margin-top: 15px;
    padding: 10px;
    width: 100%;
}


/* APPLYING ANIMATION TO MODEL */
@keyframes modalAnimation {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}