@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;500;700;900&display=swap');

:root {
    --font-color: #352d39;
    --color-main: #e7e5e5;
    --btn-color: #7be0ad;
    --btn-color-sub: #aee5d8;
    /* #E5D0E3
    #E0B0D5 */
}

html {
    font-size: 62.5%;
}

body {
    box-sizing: border-box;
    margin: 0;
    font-size: 1.6rem;
    font-family: 'Montserrat', sans-serif;
    background-color: var(--color-main);
    color: var(--font-color);
}

* {
    box-sizing: inherit;
}

.container {
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.text-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;

    position: fixed;
    left: 50%;
    top: -50%;
    transform: translate(-50%, -50%);
    width: 50rem;
    height: 50rem;
    background-color: var(--font-color);
    color: var(--color-main);

    padding: 2rem;

    z-index: 1000;
    opacity: 0;
    visibility: hidden;

    transition: all 0.5s ease-in-out;
}

.text-box.show {
    opacity: 1;
    visibility: visible;
    top: 50%;
}

.btn-close {
    position: absolute;
    right: 1.5rem;
    top: 1.5rem;
    color: var(--color-main);
    font-size: 3.5rem;
    width: 4rem;
    height: 4rem;
}

.btn-close:hover {
    cursor: pointer;
    transform: translateY(0.2rem);
}

/* Box - main */
main {
    margin-top: 2rem;
    padding: 2rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1rem;
}

.box {
    transition: all 0.4s;
}

.box:hover {
    transform: translateY(-1rem) scale(1.05);
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.4);
}

.box:active {
    transform: translateY(-0.5rem) scale(1);
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
}

.box img {
    width: 100%;
    object-fit: cover;
    height: 20rem;
}

.box p {
    margin-left: 1rem;
    margin-top: 1rem;
    text-align: center;
}

.box.effect {
    background-color: #aee5d8;
    transform: scale(1.1);
}

/* tablet-portrait - 600px */
@media (min-width: 56.25em) {
    main {
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 1.5rem;
    }
}

/* desktop - 1200px */
@media (min-width: 75rem) {
    main {
        grid-template-columns: repeat(4, 1fr);
        grid-gap: 2rem;
    }
}

/* Popup text box */
.text-content {
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;

    padding: 2rem;
}

.text-content > *:not(:last-child) {
    margin-bottom: 1rem;
}

.text-content select {
    width: 85%;
    height: 3.5rem;
    outline: none;
}

.text-content textarea {
    width: 85%;
    height: 22.5rem;
    outline: none;
}

/* Button */
.btn,
.btn:link,
.btn:visited {
    padding: 1rem 1.5rem;
    background-color: #7be0ad;
    color: var(--font-color);
    text-transform: uppercase;
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: 600;
    border-radius: 1rem;

    cursor: pointer;
    border: none;
    outline: none;

    position: relative;
    display: inline-block;
}

.btn:hover {
    transform: translateY(-0.3rem);
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
}

.btn:hover::after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0;
}

.btn:active {
    transform: translateY(-0.1rem);
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
}

.btn::after {
    content: '';
    background-color: var(--btn-color-sub);
    width: 100%;
    height: 100%;
    border-radius: 1rem;

    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
    display: inline-block;

    transition: all 0.4s;
}
