//////////////////////////////////////////////////////////////////////
// HEADER
//////////////////////////////////////////////////////////////////////

// LOGO
.logo {
    height: 3.5rem;
    margin-left: 2.5rem;
}

// SEARCH BAR

.search {

    flex: 0 0 40%;

    display: flex;
    justify-content: center;
    align-items: center;

    &__input {
        border: none;
        border-radius: 10rem;
        height: 3.5rem;
        width: 90%;
        padding: 1rem 1.5rem;
        background-color: var(--color-grey-light-2);
        font-family: inherit;
        color: inherit;
        
        margin-right: -3.5rem;
        transition: all 0.4s;

        &:focus {
            outline: none;
            width: 100%;
        }
    }

    &__button {
        border: none;
        background-color: transparent;

        &:focus {
            outline: none;
        }

        &:hover {
            transform: translateY(0.1rem);
            cursor: pointer;
        }
    }

    &__icon {
        height: 2rem;
        width: 2rem;   
        fill: var(--color-grey-dark-2);
    }
}

// SMALL NAV INSIDE HEADER
.user-nav {

    display: flex;
    justify-content: space-between;
    align-items: center;
    align-self: stretch; // header - display:flex

    & > * {
        padding: 0 2rem;
        cursor: pointer;
        height: 100%; // work together with align-self: stretch
    }

    & > *:hover {
        background-color: var(--color-grey-light-2);;
    }

    &__icon-box {
        display: flex;
        align-items: center;

        position: relative;
    }

    &__icon {
        height: 3rem;
        width: 3rem;
    }

    &__notification {
        width: 1.8rem;
        height: 1.8rem;
        font-size: 0.8rem;
        font-weight: 900;
        border-radius: 100%;
        background-color: var(--color-primary-light);

        display: flex;
        justify-content: center;
        align-items: center;
        
        position: absolute;
        top: 1rem;
        right: 0.5rem;
    }

    &__image-box {
        display: flex;
        align-items: center;
        margin-right: 1rem;
    }

    &__image {
        height: 3.5rem;
        width: 3.5rem;
        border-radius: 100%;
        margin-right: 1rem;
    }

    &__text {
        font-size: 1.2rem;
        color: var(--color-grey-dark-2);
    }
}


//////////////////////////////////////////////////////////////////////
// SIDEBAR
//////////////////////////////////////////////////////////////////////

.sidebar {

    display: flex;
    flex-direction: column;
    list-style: none;

    &__item {
        position: relative;
        padding: 1rem 2rem;
        width: 100%;

        &:not(:last-child) {
            margin-bottom: 1.5rem;
        }
    }

    &__item::before {
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        background-color: var(--color-primary);
        height: 100%;
        width: 3px;
        transform: scaleY(0);
        transform-origin: center;
        transition: transform 0.2s, width 0.6s cubic-bezier(1,0,0,1) 0.2s;
    }

    &__item:hover::before {
        transform: scaleY(1);
        width: 100%;
    }
    
    &__link:link,
    &__link:visited {
        cursor: pointer;
        color: var(--color-grey-light-1);
        text-transform: uppercase;
        text-decoration: none;
        font-size: 1.4rem;
        letter-spacing: 0.4;

        display: flex;
        align-items: center;

        position: relative;
        z-index: 10;
    }

    &__icon {
        height: 3.5rem;
        width: 3.5rem;
        fill: currentColor;
        margin-right: 1rem;
    }

}

// Legal text
.legal {
    padding: 1rem;
    color: var(--color-grey-light-2);
    font-size: 1.2rem;
    text-align: center;
}

@media only screen and (max-width: 56.25rem) {

    .sidebar {
        flex-direction: row;
        height: 6rem;

        &__item {
            margin: 0 auto;
            padding: 0 auto;
        }

        &__item::before {
            height: 6rem;
        }

        &__item:not(:last-child) {
            margin-right: 2rem;
        }

    }

    .legal {
        padding: 0;
        position: absolute;
        opacity: 0;
        visibility: hidden;
    }
}


//////////////////////////////////////////////////////////////////////
// MAIN
//////////////////////////////////////////////////////////////////////

// GALLERY
.gallery {
    display: flex;
    
    &__item,
    &__photo {    
        width: 100%;
        display: block;
    }

}


// OVERVIEW
.overview {

    display: flex;
    align-items: center;
    color: var(--color-primary);
    text-align: center;
    border-bottom: 1px solid var(--color-grey-light-3);
    
    & > *:not(:last-child) {
        margin-right: 2rem;
    }

    &__heading {
        padding: 0.5rem 2.5rem;
        font-size: 2.5rem;
        font-weight: 300;
        letter-spacing: 2px;
        color: var(--color-grey-dark-2);
    }

    &__stars {
        display: flex;
        flex: 1;
        margin-right: auto;
    }

    &__icon {
        height: 2.5rem;
        width: 2.5rem;
        fill: currentColor;
    }

    &__location {
        display: flex;
    }

    &__rating {

        align-self: stretch;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        background-color: var(--color-primary);
        color: var(--color-grey-light-3);
        padding: 0.5rem 2.5rem;

        &--average {
            font-size: 2.5rem;
        }

        &--count {
            font-size: 1rem;
            font-weight: 600;
            text-transform: uppercase;
        }
    }
}

.btn-inline {
    margin-left: 1rem;
    border: none;
    text-decoration: underline;
    color: var(--color-primary);
    background-color: transparent;

    &:hover {
        color: var(--color-grey-dark-2);
    }

    &:active,
    &:focus {
        animation: popIn 1s infinite;
        outline: none;
    }
    
}


@keyframes popIn {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.1);
        background: var(--color-grey-light-1);
    }

    100% {
        transform: scale(1);
    }
}

//////////////////////////////////////////////////////////////////////
// DESCRIPTION IN MAIN
//////////////////////////////////////////////////////////////////////

.paragraph {
    margin-bottom: 2.5rem;
}

.list {

    border-top: var(--line);
    border-bottom: var(--line);

    padding: 2.5rem 1.5rem;
    list-style: none;

    display: flex;
    flex-wrap: wrap;

    &__item {
        flex: 0 0 50%;

        &:not(:last-child) {
            margin-bottom: 1.5rem;
        }
    }

    &__item::before {
        content: "";
        display: inline-block;
        height: 1rem;
        width: 1rem;
        margin-right: 0.5rem;
    
        // OLDER VERSION
        // background-image: url(../img/SVG/chevron-thin-right.svg);
        // background-size: cover;

        // NEW VERSION
        background-color: var(--color-primary);
        -webkit-mask-image: url(../img/SVG/chevron-thin-right.svg);
        -webkit-mask-size: cover;
    }


}

.recommend {

    padding: 2.5rem 1rem;

    display: flex;
    justify-content: space-between;
    align-items: center;

    &__text {
        font-size: 1.2rem;
        color: var(--color-grey-dark-3);
    }

    &__image {
        display: flex;
        align-items: center;

        &--round {
            box-sizing: content-box;
            width: 3.5rem;
            height: 3.5rem;
            margin-right: -0.8rem;
            border-radius: 100%;
            border: 2px solid #fff;
            
        }
    }
}


//////////////////////////////////////////////////////////////////////
// USER REVIEWS IN MAIN
//////////////////////////////////////////////////////////////////////

.review {

    margin-bottom: 3.5rem;
    padding: 3rem;
    background-color: #fff;

    &__text {
        margin-bottom: 1.5rem;
    }

    &__info {
        display: flex;
        align-items: center;
        
        & > *:not(:last-child) {
            margin-right: 1.5rem;
        }
    }

    &__image {
        width: 4.5rem;
        height: 4.5rem;
        border-radius: 100%;
    }

    &__info-sub {
        flex: 0 0 50%;
        margin-right: auto;

        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
    }

    &__name {
        color: var(--color-grey-dark-2);
        text-transform: uppercase;
        font-size: 1.2rem;
        font-weight: 700;
    }

    &__date {
        font-size: 1rem;
    }

    &__rating {
        font-size: 2rem;
        color: var(--color-primary);
    }
    
}