// PUT VARIABLES HERE 
$grid-width: 114rem;
$gutter-vetical: 8rem;
$gutter-horizonal: 4rem;

// PUT SASS MIXIN HERE

// clearfix to prevent element overflowing outside its container
// https://developer.mozilla.org/en-US/docs/Web/CSS/clear
@mixin clearfix {
    &::after {
        content: "";
        display: table;
        clear: both;
    }
}

//////////////////////////////////////////////////////////////////////
.row {
    max-width: $grid-width; // will use 100vw when width lt 114rem 
    // background-color: #eee;
    margin: 3rem auto;
    
    &:not(:last-child) {
        margin-bottom: $gutter-vetical;
    }

    // clearfix mixin
    @include clearfix;

    // attribute selectors (^ : class that starts with)
    
    [class^="col-"] {
        // background-color: orangered;
        float: left;
        
        &:not(:last-child) {
            margin-right: $gutter-horizonal;
        }
  
    }

    // columns
    .col-1-of-2,
    .col-2-of-4  {
        width: calc( (100% - #{$gutter-horizonal}) / 2 ); 
        
        // Don't repeat codes!
        // background-color: orangered;
        // float: left;

        // &:not(:last-child) {
        //     margin-right: $gutter-horizonal;
        // }
    }

    .col-1-of-3 {
        width: calc( (100% - 2 * #{$gutter-horizonal}) / 3 );
    }    

    .col-1-of-4 {
        width: calc( (100% - 3 * #{$gutter-horizonal}) / 4 );
    }

    .col-2-of-3 {
        width: calc( ( 2 * ((100% - 2*#{$gutter-horizonal}) / 3) ) + #{$gutter-horizonal});
    }

    .col-3-of-4 {
        width: calc( ( 3 * ( (100% - 3 * #{$gutter-horizonal}) / 4 )  ) + ( 2 * #{$gutter-horizonal} ));
    }
}



